<header>
  <div class="container">
    <div class="row banner">
      <div class="col-md-3 companyLogo">
          <a routerLink="/">
            <img src="../../assets/images/walmart_logo.png" class="companyLogo" >
          </a>
      </div>
      <div class="col-md-6 title center-block text-center" [ngClass]="'marginRight400'">
          SHOPPING NAVIGATOR
      </div>
      <div class="col-md-3 userDetails" [ngClass]="'marginRightNeg400'">
        <mat-icon id="userIconPadding">person</mat-icon>
         <h6>Hi! SUNDEEP KUNCHALA</h6> 
      </div>
    </div>

  </div>
</header>
