<mat-card [ngClass]="'custom-card'">
    <div class="row">
        <div class="col-md-1">
                <mat-icon>local_grocery_store</mat-icon> 
                &#160; Your Store:  &#160; 
        </div>
        <div class="col-md-11">
            <p>
                    <mat-form-field class="half-width" *ngIf="showLocationText">
                            <input type="text" placeholder="Enter City" #box (keyup.enter)="onCityEnter(box.value)"  [(ngModel)]="enteredLocation" matInput [formControl]="myControlLocation" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" panelWidth="1000px">
                              <mat-option *ngFor="let loc of walmartLocations" [value]="loc.location">
                                {{loc.establishmentName}} | {{loc.location}}
                              </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                <mat-icon matTooltip="Edit Store Location"  matTooltipClass="tooltip-spark-color" (click)="editLocationClick()">edit_location</mat-icon> &#160;
            </p>
        </div>
    </div>
</mat-card>


<mat-horizontal-stepper #stepper>
  <mat-step state="format">
      <ng-template matStepLabel>Create Shopping List &#160;<mat-icon>format_list_numbered</mat-icon></ng-template>
      <div>
          <mat-list>
            <mat-card [ngClass]="'itemsSelectedCard'" *ngIf="shoppingList.length>0">
                <div class="row">
                        <div class="col-md-12">
                            <mat-icon>assignment_turned_in</mat-icon>
                            &nbsp;
                           <strong> Shopping List </strong> 
                        </div>
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
              <div cdkDropList class="shopping-list" (cdkDropListDropped)="drop($event)">
                    <div class="shopping-box" *ngFor="let category of shoppingList" cdkDrag>
                        <p class="alignLeft">
                            <button mat-icon-button color="warn" (click)="removeFromShoppingList(category)">
                                    <mat-icon matTooltip="Remove"  matTooltipClass="tooltip-spark-color" >remove_shopping_cart</mat-icon>
                            </button>
                            <strong>{{category.categoryName}}</strong>
                        </p>
                    </div>
              </div>
            </mat-card>
            </mat-list>
            <br>
            <form class="example-form">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <input type="text" placeholder="Enter Category"  [(ngModel)]="selectedItem" matInput [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" panelWidth="500px">
                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.categoryName">
                                {{option.categoryName}}
                              </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <button  mat-raised-button mat-icon-button color="primary" (click) = "addToShoppingList()">
                                <mat-icon matTooltip="Add"  matTooltipClass="tooltip-spark-color" >add_shopping_cart</mat-icon>
                              </button>
                        </div>
                    </div>
                </div>
              </form>
             <br>
      </div>
      <mat-divider></mat-divider>
      <br>
      <div>
        <button mat-raised-button matStepperNext color="primary" [disabled]="shoppingList.length==0" (click)="getProductTraits()">Next (Choose & Locate Items)</button>
      </div>
  </mat-step>

  <mat-step state="locate">
      <ng-template matStepLabel>Choose & Locate &#160;<mat-icon>my_location</mat-icon></ng-template>
      <div class="row">
          <div class="col-md-12">
              <mat-accordion class="example-headers-align"> 
                <mat-card>
                  <mat-expansion-panel *ngFor="let trait of productTraits">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       <strong>{{trait.categoryName}}</strong> 
                      </mat-panel-title>
                      <mat-panel-description>
                          Department: {{trait.productDetailsTraits[0].departmentName}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                        <mat-list>
                                <div class="row">
                                          <div class="col-md-1">
                                          </div>
                                          <div class="col-md-4">
                                              <strong> Product </strong> 
                                          </div>
                                          <div class="col-md-3">
                                              <strong> Direction </strong> 
                                          </div>
                                          <div class="col-md-2">
                                              <strong> Aisle </strong> 
                                          </div>
                                          <div class="col-md-2">
                                              <strong> Row </strong> 
                                          </div>
                                  </div>
                                  <br>
                                  <mat-divider></mat-divider>
                                  <br>
                                <div class="row">
                                    <mat-list-item *ngFor="let product of trait.productDetailsTraits">
                                        <div class="col-md-1">
                                          <mat-checkbox (change)="productSelection($event,product)" [(ngModel)]="product.selected" color="primary"></mat-checkbox>
                                          </div>
                                          <div class="col-md-4">
                                              {{product.productName}} 
                                          </div>
                                          <div class="col-md-3">
                                              {{product.direction}} 
                                          </div>
                                          <div class="col-md-2">
                                              {{product.aisle}} 
                                          </div>
                                          <div class="col-md-2">
                                              {{product.row}} 
                                          </div>
                                          <mat-divider></mat-divider>
                                    </mat-list-item>
                               </div>
                            </mat-list>
                  </mat-expansion-panel>
                </mat-card>
              </mat-accordion>
          </div>
      </div>
      <br>
      <mat-divider></mat-divider>
      <br>
      <div>
        <button mat-raised-button matStepperPrevious color="primary">Back (Create Shopping List)</button>
        &#160;&#160;&#160;
        <button mat-raised-button matStepperNext color="primary" (click)="getOptimizedRoute()" [disabled]="finalProductIdList.length==0">Next (I'm in a hurry!)</button>
      </div>
  </mat-step>

  <mat-step state="directions">
    <ng-template matStepLabel>Find shortest route &#160;<mat-icon>directions_run</mat-icon></ng-template>
    <div class="row paddingLeft30">
        <div class="col-md-4">
               <strong> Original Route Time: <strong class="colorRed">&nbsp;{{routeSavings?.originalRouteTime}}&nbsp;</strong> mins approx.</strong>
        </div>
        <div class="col-md-4">
                <strong>  Optimized Route Time: <strong class="colorDarkslateblue">&nbsp;{{routeSavings?.optimizedRouteTime}}&nbsp;</strong> mins approx.</strong>
        </div>
        <div class="col-md-4">
                <strong>  Time Saved: <strong class="colorForestgreen">&nbsp;{{routeSavings?.timeSaved}}&nbsp;</strong> mins approx.</strong>
        </div>
    </div>
    <br>
    <div class="row paddingLeft30">
            <div class="col-md-12">
                    <mat-accordion class="example-headers-align"> 
                            <mat-card>
                              <mat-expansion-panel [ngClass]="'mapColor'">
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                        <mat-icon>zoom_out_map</mat-icon>
                                  </mat-panel-title>
                                  <mat-panel-description>
                                      Store Map
                                      <mat-icon>zoom_out_map</mat-icon>
                                   </mat-panel-description>
                                </mat-expansion-panel-header>
                                <img src="../../assets/images/RouteMap.jpg" >
                              </mat-expansion-panel>
                            </mat-card>
                          </mat-accordion>
            </div>
        </div>
    <br>
    <mat-divider></mat-divider>
    <br>
      <div class="row paddingLeft30">
          <mat-icon matTooltip="Origin"  matTooltipClass="tooltip-spark-color">directions_walk</mat-icon>
          <mat-icon matTooltip="Origin"  matTooltipClass="tooltip-spark-color">trip_origin</mat-icon>
      </div>
      <div class="row paddingLeft30">
          <mat-icon matTooltip="Next"  matTooltipClass="tooltip-spark-color">arrow_downward</mat-icon>
      </div>
        <mat-list>
            <mat-list-item [ngClass]="'paddingLeft30'">
                <div class="row full-width">
                    <div class="col-md-2">
                        <strong>Department</strong>
                    </div>
                    <div class="col-md-3">
                        <strong>Category</strong>
                    </div>
                    <div class="col-md-3">
                        <strong>Product</strong>
                    </div>
                    <div class="col-md-1">
                        <strong>Direction</strong>
                    </div>
                    <div class="col-md-1">
                        <strong>Aisle</strong>
                    </div>
                    <div class="col-md-1">
                        <strong>Row</strong>
                    </div>
                    <div class="col-md-1">
                        <strong>Everything Ok ?</strong>
                    </div>
                  </div>
            </mat-list-item>
      </mat-list>
      <mat-list *ngFor="let product of optimizedRouteProducts; let i=index">
            <mat-list-item [ngClass]="'paddingLeft30'">
                <div class="row full-width">
                    <div class="col-md-2">
                        {{product.departmentName}}
                    </div>
                    <div class="col-md-3">
                        {{product.categoryName}}
                    </div>
                    <div class="col-md-3">
                        <strong>
                            {{product.productName}}
                            <mat-icon *ngIf="product.buy===false" [ngClass]="'colorForestgreen'">check</mat-icon>
                            <mat-icon *ngIf="product.buy===true" [ngClass]="'colorRed'">close</mat-icon>
                         </strong>
                    </div>
                    <div class="col-md-1">
                        {{product.direction}}
                    </div>
                    <div class="col-md-1">
                        {{product.aisle}}
                    </div>
                    <div class="col-md-1">
                        {{product.row}}
                    </div>
                    <div class="col-md-1">
                            <button mat-icon-button color="primary" (click)="productOkResponse(product)">
                                    <mat-icon matTooltip="Yes"  matTooltipClass="tooltip-spark-color">thumb_up_alt</mat-icon>
                             </button>
                             
                             <button  mat-icon-button color="primary" (click)="openUserFeedbackDialog(product)">
                                    <mat-icon matTooltip="No"  matTooltipClass="tooltip-spark-color">thumb_down_alt</mat-icon>
                             </button>
                    </div>
                  </div>
             </mat-list-item>
            <mat-icon *ngIf="(i+1) == optimizedRouteProducts.length" [ngClass]="'paddingLeft15'" matTooltip="Next"  matTooltipClass="tooltip-spark-color">arrow_downward</mat-icon>
            <mat-icon *ngIf="(i+1) < optimizedRouteProducts.length" [ngClass]="'paddingLeft15'" matTooltip="Next"  matTooltipClass="tooltip-spark-color">arrow_drop_down</mat-icon>
      </mat-list>
      <div class="row paddingLeft30">
          <mat-icon matTooltip="Origin"  matTooltipClass="tooltip-spark-color">directions_walk</mat-icon>
          <mat-icon matTooltip="Checkout"  matTooltipClass="tooltip-spark-color">local_grocery_store</mat-icon>
      </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div>
      <button mat-raised-button matStepperPrevious color="primary" (click)="getProductTraits()">Back (Choose & Locate Items)</button>
    </div>
  </mat-step>


  <ng-template matStepperIcon="format">
      <mat-icon>format_list_numbered</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="locate">
      <mat-icon>thumb_up_alt</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="directions">
      <mat-icon>directions_run</mat-icon>
  </ng-template>
</mat-horizontal-stepper>