@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

section {
    margin: 0 auto;
    padding: 2em;
}

.icon {
    font-size: 36px;
}

.title{
    color:#fcba30; 
    font-size: 22px; 
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top:10px;
}

.banner {
height: 50px;
}

.companyLogo{
    height: 150px;
    margin-top:-25px;
    margin-left: -190px
}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
 }
 
 // In case you're dealing with a inline element apply this to the parent 
 .text-center {
    text-align:center
 }

 .userDetails {
    color: white; 
    font-size: 15px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: -180px
 }

 .mat-icon .notranslate .material-icons .mat-icon-no-color #userIconPadding {
    margin-left: -93px !important;
    margin-top:10px !important;
 }

 .custom-card {
    background-color:#bdd0e4;
    margin:20px;
  }
  .itemsSelectedCard {
    background-color:#f7f9fb;
    margin-right:1300px !important
  }
  

  .marginRightNeg400{
      margin-right: -400px;
  }
  .marginRight400{
    margin-right: 400px;
}
.marginRight1500{
    margin-right: 1500px !important;
}

.tooltip-spark-color {
    background: #041e42;
  }

  .snackBarClass {
    color: #fcba30; 
  }

  .example-form {
    min-width: 150px;
    max-width: 1500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }

  .table-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .expansionPanelCustom {
    background-color:#f7f9fb;
  }

  .example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.shortestRouteCards{
  padding:30px;
}

.paddingLeft30{
  padding-left:30px;
}

.paddingLeft15{
  padding-left:15px;
}